<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form [formGroup]="loginForm">
                <div class="input-group">
                    <input type="text" required formControlName="email">
                    <label>Email</label>
                </div>
                <div class="input-group">
                    <input type="password" required formControlName="password" >
                    <label>Password</label>
                </div>
                <button (click)="login()" type="submit" class="login-btn">Login</button>
                <b><a routerLink="/dashboard/home">continue without login</a></b>
                <div class="bottom-links">
                    <a href="#">Forgot Password?</a>
                    <a href="#">Sign Up</a><br>
                    <a routerLink="/dashboard">go to dashboard</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>